<left>

    <h2 class="github-title">GitHub Repo</h2>

      <a class="github-button" href="https://github.com/aws-samples/amazon-vpc-traffic-mirroring-reinvent2019-workshop" data-icon="octicon-star" data-show-count="true" aria-label="Star brentley/ecsdemo-frontend on GitHub">Star</a>
    &nbsp;<a class="github-button" href="https://github.com/aws-samples/amazon-vpc-traffic-mirroring-reinvent2019-workshop" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork brentley/ecsdemo-frontend on GitHub">Fork</a>

    <h5 class="copyright">&copy; 2019 Amazon Web Services, Inc. or its Affiliates. All rights reserved.<h5>

</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
